.headerText {
	font-size: 50px;
	font-weight: bold;
    text-align: center;
    line-height: 1.2;
    margin-top: 2rem;
    margin-bottom: 1rem;
	font-family: 'Raleway';
    background: #1d3856;
    background: -webkit-linear-gradient(to right, #1d3856 0%, #1572a2 100%);
    background: -moz-linear-gradient(to right, #1d3856 0%, #1572a2 100%);
    background: linear-gradient(to right, #1d3856 0%, #1572a2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.optionItemWrapper {
    padding: 6px;
}
.optionItem {
    border: 1px solid #c6cdd5;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 500;
    color: #2b4e71;
    text-align: center;
    line-height: 1;
    margin: 0.5rem 0;
    height: 60px;
    user-select: none;
    cursor: pointer;
    transition: .2s;
    padding: 0 1%;
}
.optionItem.active {
    border-color: #1c94d5;
    box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.1);
    color: #1c94d5;
}
.optionItem:hover {
    box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 768px) {
    .optionItem:hover {
        border-color: #1c94d5;
        box-shadow: 3px 3px 18px 0px rgba(0, 0, 0, 0.1);
        color: #1c94d5;
    }
}
.dtHide {
    display: none;
}
.flexWrapper {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.select {
    border-radius: 43px;
    box-shadow: inset 2.121px 2.121px 8px 0px rgba(0, 0, 0, 0.1);
    width: 43%;
    height: 57px;
    border: none;
    padding-left: 5%;
    font-size: 17px;
    appearance: none;
    -webkit-appearance: none;
    background: url(../../../media//image/select_arrow.png) no-repeat right #f7f7f7;
    background-position-x: 92%;
    color: #71788a;
}

@media screen and (max-width: 991px) {
    .headerText {
        font-size: 36px;
    }
    .select {
        height: 48px;
        font-size: 15px;
    }
}
@media screen and (max-width: 767px) {
    .select {
        width: 100%;
    }
}
@media screen and (max-width: 575px) {
    .headerText {
        font-size: 30px;
    }
    .optionItemWrapper {
        padding: 2px 15px;
    }
    .optionItem {
        height: 45px;
        font-size: 14px;
    }
    .dtHide {
        display: flex;
    }
    .mbHide {
        display: none;
    }
}