.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 43%;
}
.navMenu {
    color: #606675;
    font-size: 16px;
    font-family: 'Raleway';
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    user-select: none;
}
.navMenu.disabled {
    cursor: unset;
    color: #abafba;
}
.navMenu span {
    font-size: 27px;
    line-height: 0px;
    margin: 0 5px;
}
.stepNo {
    position: absolute;
    bottom: 77%;
    left: 50%;
    transform: translateX(-100%);
    font-family: 'Titillium Web';
    font-size: 40px;
    color: #10557a;
    font-weight: bold;
    line-height: 0;
}
.divider {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: center;
    transform: translate(-40%, -50%) rotate(-60deg);
    width: 75px;
    height: 1px;
    background: #e0e0e0;
}
.totalStep {
    position: absolute;
    left: 50%;
    top: 60%;
    font-size: 30px;
    font-family: 'Titillium Web';
    line-height: 0;
    color: #1572a2;
    transform: translateX(140%);
}

@media screen and (max-width: 991px) {
    .navMenu {
        font-size: 13px;
    }
    .navMenu span {
        font-size: 18px;
    }
    .stepNo {
        font-size: 27px;
    }
    .divider {
        width: 40px;
    }
    .totalStep {
        font-size: 20px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        margin-top: 10%;
        width: 100%;
    }
    .navMenu {
        font-size: 15px;
    }
    .navMenu span {
        font-size: 21px;
    }
    .stepNo {
        font-size: 32px;
    }
    .divider {
        width: 48px;
    }
    .totalStep {
        font-size: 24px;
    }
}